<fieldset>

	<!-- Form Name -->
	<legend>Menu</legend>
	
	<a href="{% url 'getSystemStatus'%}">System status</a> - 
	<a href="{% url 'showAddIrrigationTemplate'%}">Add Irrigation Template</a> -
	<a href="{% url 'showDeleteIrrigationTemplate'%}">Delete Irrigation Template</a> -
	<a href="{% url 'showAddIrrigationTemplateValues'%}">Add Irrigation Template Values</a> - 
	<a href="{% url 'showWeatherStatus'%}">Weather status</a> - 
	<a href="{% url 'showIrrigationHistory'%}">Irrigation History</a> - 
	<a href="{% url 'showAddArduino'%}">Arduino</a> -
	<a href="{% url 'showAddSettings'%}">Settings</a> -
	<a href="{% url 'doLogout'%}">Logout</a>
	</fieldset>