<body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'getSystemStatus'%}">System status</a></li>
            <li role="presentation"><a href="{% url 'showAddIrrigationTemplate'%}">Add Irrigation Template</a></li>
            <li role="presentation"><a href="{% url 'showDeleteIrrigationTemplate'%}">Delete Irrigation Template</a></li>
            <li role="presentation"><a href="{% url 'showAddIrrigationTemplateValues'%}">Add Irrigation Template Values</a></li>
            <li role="presentation"><a href="{% url 'showWeatherStatus'%}">Weather status</a></li>
            <li role="presentation"><a href="{% url 'showIrrigationHistory'%}">Irrigation History</a></li>
            <li role="presentation"><a href="{% url 'showAddArduino'%}">Arduino</a></li>
            <li role="presentation"><a href="{% url 'showAddSettings'%}">Settings</a></li>
            <li role="presentation"><a href="{% url 'doLogout'%}">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">IrrigationApp</h3>
      </div>
      

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">IrrigationApp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li role="presentation"><a href="{% url 'getSystemStatus'%}">System status</a></li>
            <li role="presentation"><a href="{% url 'showAddIrrigationTemplate'%}">Add Irrigation Template</a></li>
            <li role="presentation"><a href="{% url 'showDeleteIrrigationTemplate'%}">Delete Irrigation Template</a></li>
            <li role="presentation"><a href="{% url 'showAddIrrigationTemplateValues'%}">Add Irrigation Template Values</a></li>
            <li role="presentation"><a href="{% url 'showWeatherStatus'%}">Weather status</a></li>
            <li role="presentation"><a href="{% url 'showIrrigationHistory'%}">Irrigation History</a></li>
            <li role="presentation"><a href="{% url 'showAddArduino'%}">Arduino</a></li>
            <li role="presentation"><a href="{% url 'showAddSettings'%}">Settings</a></li>
            <li role="presentation"><a href="{% url 'doLogout'%}">Logout</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">