{% include "IrrigationApp/pages/frame/htmlHeader.html" %}

		<form class="form-horizontal" id="doAddArduino" action="{% url 'doAddArduino'%}" method="post">
				{% csrf_token %}
				<fieldset>

			<!-- Form Name -->
			<legend>Arduino</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label for="ip_address">IP address</label>
			  <input id="ip_address" name="ip_address" type="text" placeholder="IP address" class="form-control" required="">
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label for="port_number">Port number</label>
			  <input id="port_number" name="port_number" type="text" placeholder="Port number" class="form-control" required="">
			</div>
			
			<!-- Button -->
				<div class="form-group">
				  <label for="submit"></label>
				  <button id="submit" name="submit" class="btn btn-success">Save Arduino</button>
				</div>
			
		</fieldset>
				</form>
</div>
</body>
</html>