{% include "IrrigationApp/pages/frame/chartHeader2.html" %}
<body>		
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="https://rawgithub.com/highslide-software/draggable-points/master/draggable-points.js"></script>
<div id="container" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
<div id="drag"></div>
<div id="drop"></div>

<script type="text/javascript">
	var chart = new Highcharts.Chart({

    chart: {
        renderTo: 'container',
        animation: false
    },
    
    title: {
        text: 'Highcharts draggable points demo'
    },

    xAxis: {
        categories: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
    },

    plotOptions: {
        series: {
            cursor: 'ns-resize',
            point: {
                events: {

                    drag: function (e) {
                        
                        if (e.newY > 100) {
                            this.y = 100;
                            return false;
                        } else if (e.newY < 0) {
                        	this.y = 0;
                            return false;
                        }
                        
                        $('#drag').html(
                            'Dragging <b>' + this.series.name + '</b>, <b>' + this.category + '</b> to <b>' + Highcharts.numberFormat(e.newY, 2) + '</b>');
                    },
                    drop: function () {
                    	chart.yAxis[0].setExtremes(0, 100);
                        $('#drop').html(
                            'In <b>' + this.series.name + '</b>, <b>' + this.category + '</b> was set to <b>' + Highcharts.numberFormat(this.y, 2) + '</b>');
                    }
                }
            },
            stickyTracking: false
        },
        column: {
            stacking: 'normal'
        }
    },

    tooltip: {
        yDecimals: 2
    },

    series: [{
        data: [10, 10, 20, 30, 40, 50, 60, 70, 70, 70, 30, 30],
        draggableY: true
    }]

});
</script>
</body>
</html>