{% include "IrrigationApp/pages/frame/chartHeader.html" %}
		<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>
		
		<form class="form-horizontal" id="doAddIrrigationTemplate" action="{% url 'doAddIrrigationTemplate'%}" method="post">
				{% csrf_token %}
				<fieldset>

			<!-- Form Name -->
			<legend>Add irrigation template</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label for="name">Name</label>
			    <input id="name" name="name" type="text" placeholder="Name" class="form-control" required="">
			</div>
			
			<input type="hidden" id="series" name="series" value="" />
			
			<!-- Button -->
				<div class="form-group">
				  <label for="submit"></label>
				    <button id="submit" name="submit" class="btn btn-success">Save Template</button>
				</div>
			
		</fieldset>
				</form>
</div>
</body>
</html>