{% include "IrrigationApp/pages/frame/htmlHeader.html" %}

		<form class="form-horizontal" id="doAddSettings" action="{% url 'doAddSettings'%}" method="post">
				{% csrf_token %}
				<fieldset>

			<!-- Form Name -->
			<legend>Settings</legend>

			<!-- Select Basic -->
				<div class="control-group">
				  <label class="control-label" for="switch">Pump</label>
				  <div class="controls">
				    <select id="switch" name="switch" class="input-xlarge">
				      {% for switch in switches %}
				      <option>{{ switch.pinNumber }}</option>
				      {% endfor %}
				    </select>
				  </div>
				</div>
				
				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="submit"></label>
				  <div class="controls">
				    <button id="submit" name="submit" class="btn btn-success">Save Settings</button>
				  </div>
				</div>
			
		</fieldset>
				</form>

</body>
</html>