{% include "IrrigationApp/pages/frame/htmlHeader.html" %}

		<form class="form-horizontal" id="doAddSettings" action="{% url 'doAddSettings'%}" method="post">
				{% csrf_token %}
				<fieldset>

			<!-- Form Name -->
			<legend>Settings</legend>

			<!-- Select Basic -->
				<div class="form-group">
				  <label for="switch">Pump</label>
				    <select id="switch" name="switch" class="form-control">
				      {% for switch in switches %}
				      <option>{{ switch.pinNumber }}</option>
				      {% endfor %}
				    </select>
				</div>
				
			<!-- Text input-->
			<div class="form-group">
			  <label for="evapotranspiracy">Evapotranspiracy</label>
			  <input id="evapotranspiracy" name="evapotranspiracy" type="text" placeholder="Evapotranspiracy" class="form-control" required="">
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label for="cost">Cost per liter</label>
			  <input id="cost" name="cost" type="text" placeholder="Cost" class="form-control" required="">
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label for="number_of_runnable_zones">Number of runnable zones</label>
			  <input id="number_of_runnable_zones" name="number_of_runnable_zones" type="text" placeholder="Number of runnable zones" class="form-control" required="">
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label for="run_limit">Pump's minimum running time</label>
			  <input id="run_limit" name="run_limit" type="text" placeholder="Pump's minimum running time" class="form-control" required="">
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label for="stop_limit">Pump's minimum stopping time</label>
			  <input id="stop_limit" name="stop_limit" type="text" placeholder="Pump's minimum stopping time" class="form-control" required="">
			</div>
				
				<!-- Button -->
				<div class="control-group">
				  <label for="submit"></label>
				    <button id="submit" name="submit" class="btn btn-success">Save Settings</button>
				</div>
			
		</fieldset>
				</form>
</div>
</body>
</html>