{% include "IrrigationApp/pages/frame/htmlHeader.html" %}

		<form class="form-horizontal" id="doDeleteIrrigationTemplate" action="{% url 'doDeleteIrrigationTemplate'%}" method="post">
				{% csrf_token %}
				<fieldset>

			<!-- Form Name -->
			<legend>Delete irrigation template </legend>
			
			<!-- Select Basic -->
			<div class="form-group">
				  <label for="irrigationTemplate">Name</label>
				    <select id="irrigationTemplate" name="irrigationTemplate" class="form-control">
			      {% for irrigationTemplate in irrigationTemplates %}
			      <option value="{{ irrigationTemplate.id }}">{{ irrigationTemplate.name }}</option>
			      {% endfor %}
			    </select>
			</div>
			
			<!-- Button -->
				<div class="form-group">
				  <label for="submit"></label>
				    <button id="submit" name="submit" class="btn btn-success">Delete Template</button>
				</div>
			
		</fieldset>
				</form>

</body>
</html>