{% include "IrrigationApp/pages/frame/htmlHeader.html" %}

		<form class="form-horizontal" id="doEditIrrigationTemplate" action="{% url 'doEditIrrigationTemplate'%}" method="post">
				{% csrf_token %}
				<fieldset>

			<!-- Form Name -->
			<legend>Edit irrigation template </legend>
			
			<!-- Select Basic -->
			<div class="control-group">
				  <label class="control-label" for="irrigationTemplate">Name</label>
				  <div class="controls">
				    <select id="irrigationTemplate" name="irrigationTemplate" class="input-xlarge">
			      {% for irrigationTemplate in irrigationTemplates %}
			      <option value="{{ irrigationTemplate.id }}">{{ irrigationTemplate.name }}</option>
			      {% endfor %}
			    </select>
			  </div>
			</div>
			
			<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="submit"></label>
				  <div class="controls">
				    <button id="submit" name="submit" class="btn btn-success">Delete Template</button>
				  </div>
				</div>
			
		</fieldset>
				</form>

</body>
</html>