{% include "IrrigationApp/pages/frame/htmlHeader.html" %}

		<form class="form-horizontal" id="doEditSegment" action="{% url 'doEditSegment'%}" method="post">
				{% csrf_token %}
				<fieldset>
				
				<!-- Form Name -->
				<legend>Edit segment</legend>
				
				<!-- Text input-->
				<div class="form-group">
				  <label for="name">Name of the segment:</label>
				    <input id="name" name="name" type="text" value="{{ segment.name }}" placeholder="Name of the Segment" class="form-control" required autofocus>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label for="sensor">Soil type</label>
				    <select id="soil_type" name="soil_type" class="form-control">
				      {% for soilType in soilTypes %}
				      <option value="{{ soilType.id }}">{{ soilType.name }}</option>
				      {% endfor %}
				    </select>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label for="size">Size of area (m2)</label>
				    <input id="size" name="size" type="text" placeholder="Size of area" class="form-control" required autofocus>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label for="sensor">Sensor</label>
				    <select id="sensor" name="sensor" class="form-control">
				      {% for sensor in sensors %}
				      <option>{{ sensor.node }}</option>
				      {% endfor %}
				    </select>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label for="switch">Switch</label>
				    <select id="switch" name="switch" class="form-control">
				      {% for switch in switches %}
				      <option>{{ switch.pinNumber }}</option>
				      {% endfor %}
				    </select>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label for="type">Irrigation type</label>
				    <select id="type" name="type" class="form-control">
				      <option>Manual</option>
				      <option>Automatic</option>
				    </select>
				</div>
				
				<!-- Select Basic -->
			<div class="form-group">
				  <label for="irrigationTemplate">Template</label>
				    <select id="irrigationTemplate" name="irrigationTemplate" class="form-control">
			      <option value="None"></option>
			      {% for irrigationTemplate in irrigationTemplates %}
			      <option value="{{ irrigationTemplate.id }}">{{ irrigationTemplate.name }}</option>
			      {% endfor %}
			    </select>
			</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label for="moisture_minLimit">Minimum of moisture</label>
				    <input id="moisture_minLimit" name="moisture_minLimit"  value="{{ segment.moisture_minLimit }}" type="text" placeholder="Minimum of moisture" class="form-control" required autofocus>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label for="moisture_maxLimit">Maxiumum of moisture</label>
				    <input id="moisture_maxLimit" name="moisture_maxLimit" type="text" value="{{ segment.moisture_maxLimit }}" placeholder="Maximum of moisture" class="form-control" required autofocus>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label for="duration_maxLimit">Maxiumum of duration (min)</label>
				    <input id="duration_maxLimit" name="duration_maxLimit" type="text" value="{{ segment.duration_maxLimit }}" placeholder="Maxiumum of duration (min)" class="form-control" required autofocus>
				</div>
				
				<!-- Multiple Checkboxes -->
				<div class="form-group">
				  <label for="checkboxes">Forecast enabled</label>
				    <label class="checkbox" for="checkboxes">
				      <input type="checkbox" name="checkboxes" id="checkboxes" value="enabled">
				    </label>
				</div>
				
				<!-- Button -->
				<div class="form-group">
				  <label for="submit"></label>
				    <button id="submit" name="submit" class="btn btn-success">Edit segment</button>
				</div>
				
				</fieldset>
				<input type="hidden" name="segment_id" value = "{{ segment.id }}"/>
				</form>
</div>
</body>
</html>