{% include "IrrigationApp/pages/frame/htmlHeader.html" %}
		<form class="form-horizontal" id="login" action="{% url 'doLogin'%}" method="post">
				{% csrf_token %}
				<fieldset>
				
				<!-- Form Name -->
				<legend>Login</legend>
				
				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="username">Username:</label>
				  <div class="controls">
				    <input id="username" name="username" type="text" placeholder="Username" class="input-large" required autofocus>
				    
				  </div>
				</div>
				
				<!-- Password input-->
				<div class="control-group">
				  <label class="control-label" for="password">Password</label>
				  <div class="controls">
				    <input id="password" name="password" type="password" placeholder="Password" class="input-large" required>
				    
				  </div>
				</div>
				{% if redirect %}
					<input type="hidden" name="redirect" value = "{{redirect}}"/>
				{% endif%}
				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="submit"></label>
				  <div class="controls">
				    <button id="submit" name="submit" class="btn btn-success">Login</button>
				  </div>
				</div>
				
				</fieldset>
				</form>
	</body>
</html>

			
