{% include "IrrigationApp/pages/frame/htmlHeader_no_menu.html" %}
	
	
	
		<form class="form-horizontal" action="{% url 'doRegistration'%}" method="post">
		{% csrf_token %}
		<fieldset>
		
		<!-- Form Name -->
		<legend>Register</legend>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="username">Username</label>
		  <div class="controls">
		    <input id="username" name="username" type="text" placeholder="Username" class="input-medium" required="">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="fullname">Full name</label>
		  <div class="controls">
		    <input id="fullname" name="fullname" type="text" placeholder="Full name" class="input-large">
		    
		  </div>
		</div>
		
		<!-- Password input-->
		<div class="control-group">
		  <label class="control-label" for="password">Password</label>
		  <div class="controls">
		    <input id="password" name="password" type="password" placeholder="Password" class="input-medium" required="">
		    
		  </div>
		</div>
		
		<!-- Password input-->
		<div class="control-group">
		  <label class="control-label" for="password_check">Password check</label>
		  <div class="controls">
		    <input id="password_check" name="password_check" type="password" placeholder="Password check" class="input-medium" required="">
		    
		  </div>
		</div>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="email">E-mail</label>
		  <div class="controls">
		    <input id="email" name="email" type="text" placeholder="E-mail" class="input-large" required="">
		    
		  </div>
		</div>
		
		
		<fieldset>

			<!-- Form Name -->
			<legend>Arduino</legend>
			
			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="ip_address">IP address</label>
			  <div class="controls">
			    <input id="ip_address" name="ip_address" type="text" placeholder="IP address" class="input-large" required="">
			    <p class="help-block">example: 192.168.1.100</p>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <label class="control-label" for="port_number">Port number</label>
			  <div class="controls">
			    <input id="port_number" name="port_number" type="text" placeholder="Port number" class="input-small" required="">
			    <p class="help-block">range: 0-65535</p>
			  </div>
			</div>
			
		</fieldset>
		
		
		
		<!-- Button -->
		<div class="control-group">
		  <label class="control-label" for="submit"></label>
		  <div class="controls">
		    <button id="submit" name="submit" class="btn btn-default">Register</button>
		  </div>
		</div>
		
		</fieldset>
		</form>
	
	
	
	
	
	</body>
</html>