{% include "IrrigationApp/pages/frame/htmlHeader.html" %}
	
	
	
		<form class="form-horizontal" action="{% url 'doRepeatableSchedule'%}" method="post">
		{% csrf_token %}
		<fieldset>
		
		<!-- Form Name -->
		<legend>Repeatable schedule</legend>
		
		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="name">Name</label>
		  <div class="controls">
		    <input id="name" name="name" type="text" placeholder="Name" class="input-medium" required="">
		    
		  </div>
		</div>
		
		<!-- Multiple Checkboxes -->
				<div class="control-group">
				  <label class="control-label" for="zones">Days</label>
				  <div class="controls">
				    <label class="checkbox" for="1Monday">
				      <input type="checkbox" name="1Monday" id="1Monday" value="1Monday">
				      Monday
				    </label>
				    <label class="checkbox" for="2Tuesday">
				      <input type="checkbox" name="2Tuesday" id="2Tuesday" value="2Tuesday">
				      Tuesday
				    </label>
				    <label class="checkbox" for="3Wednesday">
				      <input type="checkbox" name="3Wednesday" id="3Wednesday" value="3Wednesday">
				      Wednesday
				    </label>
				    <label class="checkbox" for="4Thursday">
				      <input type="checkbox" name="4Thursday" id="4Thursday" value="4Thursday">
				      Thursday
				    </label>
				    <label class="checkbox" for="5Friday">
				      <input type="checkbox" name="5Friday" id="5Friday" value="5Friday">
				      Friday
				    </label>
				    <label class="checkbox" for="6Saturday">
				      <input type="checkbox" name="6Saturday" id="6Saturday" value="6Saturday">
				      Saturday
				    </label>
				    <label class="checkbox" for="7Sunday">
				      <input type="checkbox" name="7Sunday" id="7Sunday" value="7Sunday">
				      Sunday
				    </label>

				  </div>
				</div>
				
				<!-- Time -->
				<div class="control-group">
				  <label class="control-label" for="time">Time</label>
				  <div class="controls">
				    <input type="time" name="time" id="time">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="duration">Duration</label>
				  <div class="controls">
				    <input id="duration" name="duration" type="text" placeholder="Duration" class="input-large" required autofocus>
				    
				  </div>
				</div>
				
				<!-- Multiple Checkboxes -->
				<div class="control-group">
				  <label class="control-label" for="zones">Zones</label>
				  <div class="controls">
				    {% for zone in zones %}
				      
				    <label class="checkbox" for="{{ zone.id }}">
				      <input type="checkbox" name="{{ zone.id }}" id="{{ zone.id }}" value="{{ zone.id }}">
				      {{ zone.name }}
				    </label>
				    
				    {% endfor %}
				  </div>
				</div>

				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="submit"></label>
				  <div class="controls">
				    <button id="submit" name="submit" class="btn btn-success">Save schedule</button>
				  </div>
				</div>
				
				</fieldset>
				</form>
	
	
	
	
</div>	
	</body>
</html>