{% include "IrrigationApp/pages/frame/htmlHeader.html" %}
	
	
	
		<form class="form-horizontal" action="{% url 'doSimpleSchedule'%}" method="post">
		{% csrf_token %}
		<fieldset>
		
		<!-- Form Name -->
		<legend>New simple schedule</legend>
		
		<!-- Date -->
				<div class="control-group">
				  <label class="control-label" for="date">Date</label>
				  <div class="controls">
				    <input type="date" name="date" id="date">
				  </div>
				</div>
				
				<!-- Time -->
				<div class="control-group">
				  <label class="control-label" for="time">Time</label>
				  <div class="controls">
				    <input type="time" name="time" id="time">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="duration">Duration</label>
				  <div class="controls">
				    <input id="duration" name="duration" type="text" placeholder="Duration" class="input-large" required autofocus>
				    
				  </div>
				</div>
				
				<!-- Multiple Checkboxes -->
				<div class="control-group">
				  <label class="control-label" for="segments">Segments</label>
				  <div class="controls">
				    {% for segment in segments %}
				      
				    <label class="checkbox" for="{{ segment.id }}">
				      <input type="checkbox" name="{{ segment.id }}" id="{{ segment.id }}" value="{{ segment.id }}">
				      {{ segment.name }}
				    </label>
				    
				    {% endfor %}
				  </div>
				</div>

				<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="submit"></label>
				  <div class="controls">
				    <button id="submit" name="submit" class="btn btn-success">Save schedule</button>
				  </div>
				</div>
				
				</fieldset>
				</form>
	
	
	
	
</div>	
	</body>
</html>