{% include "IrrigationApp/pages/frame/htmlHeader_refresh.html" %}

</br>Welcome {{username}}!
</br>Arduino IP address: {{arduino.IP}}:{{arduino.PORT}}
</br>Current time: <span id="time"></span>
</br></br>
<fieldset>

	<!-- Form Name -->
	<legend>Status of the Segments</legend><a href="/showAddNewSegment">New Segment</a>

<table class="table table-striped table-condensed">
	<thead>
		<th>Name</th>
		<th>Soil type</th>
		<th>Size</th>
		<th>Moisture</th>
		<th>Valve</th>
		<th>Uptime</th>
		<th>mm</th>
		<th>Type</th>
		<th>Plant</th>
		<th>Days</th>
		<th>Min. moisture</th>
		<th>Max. moisture</th>
		<th>Duration today</th>
		<th>Max. duration</th>
		<th>Forecast</th>
		<th>Edit</th>
	</thead>
	{% for segment in segments %}
	<tr>
		<td>{{segment.name}}</td>
		<td>{{segment.soil_type.name}}</td>
		<td>{{segment.size_m2}} m2</td>
		<td>{{segment.sensor.value}}%</td>
		<td>
			<form id="change_switch" action="getSystemStatus" method="post">
				{% csrf_token %}
				{% if segment.switch.status == 1 %}
				<input type="hidden" name="segment" value = "{{ segment.id }}"/>
				<input type="hidden" name="status" value = "0"/>
				<button id="switch" name="switch" class="btn btn-success">Turn OFF</button>
				{% else %}
				<input type="hidden" name="segment" value = "{{ segment.id }}"/>
				<input type="hidden" name="status" value = "1"/>
				<button id="switch" name="switch" class="btn btn-danger">Turn ON</button>
				{% endif %}
								
			</form>
		</td>
		<td>{{segment.up_time}} min</td>
		<td>{{segment.water_quantity|floatformat:-2}} mm</td>
		<td>{{segment.type}}</td>
		<td><a href="/showIrrigationTemplateValues/?template={{segment.template.id}}">{{segment.template.name}}</a></td>
		<td>{{segment.template.day_counter}}</td>
		<td>{{segment.moisture_minLimit}}%</td>
		<td>{{segment.moisture_maxLimit}}%</td>
		<td>{{segment.duration_today}} min</td>
		<td>{{segment.duration_maxLimit}} min</td>
		<td>{{segment.forecast_enabled}}</td>
		<td>
		<form id="showEditSegment" action="showEditSegment" method="post">
				{% csrf_token %}
				<input type="hidden" name="editSegment" value = "{{ segment.id }}"/>
				<button id="delete" name="delete" class="btn btn-default">EDIT</button>
			</form>		
		</td>
	</tr>
	{% endfor %}
</table>

</fieldset>

<fieldset>

	<!-- Form Name -->
	<legend>Irrigation status</legend>
	Pump is: {{ settings.pump.status }} (pin-number: {{ settings.pump.pinNumber }})</br>
	Count of running segments: {{ settings.running_segments }}</br>
	Flow meter: {{ settings.flow_meter }} liter/minute</br>
	Water quantity: {{ settings.water }} liter</br>
	Total cost: {{ settings.total_cost }} Ft ({{settings.cost_perLiter}} Ft/liter)</br></br>
</fieldset>

<fieldset>

	<!-- Form Name -->
	<legend>Task queue</legend>
	
	<table class="table table-striped table-condensed">
	<thead>
		<th>Segment</th>
		<th>Seq number</th>
		<th>Delete</th>
	</thead>
	{% for task in tasks %}
	<tr>
		<td>{{task.segment_id.name}}</td>
		<td>{{task.seq_number}}</td>
		<td>
		<form id="deleteTask" action="deleteTask" method="post">
				{% csrf_token %}
				<input type="hidden" name="task" value = "{{ task.id }}"/>
				<button id="delete" name="delete" class="btn btn-default">DELETE</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>
	
</fieldset>

<fieldset>

	<!-- Form Name -->
	<legend>Simple schedules</legend>
	<a href="/showSimpleSchedule">New Simple Schedule</a>

<table class="table table-striped table-condensed">
	<thead>
		<th>Status</th>
		<th>Date</th>
		<th>Time</th>
		<th>Duration</th>
		<th>Segments</th>
		<th>Delete</th>
	</thead>
	{% for simpleSchedule in simpleSchedules %}
	<tr>
		<td>{{simpleSchedule.status}}</td>
		<td>{{simpleSchedule.date|date:"Y-m-d"}}</td>
		<td>{{simpleSchedule.time|time:"H:i"}}</td>
		<td>{{simpleSchedule.duration}} min</td>
		<td>{{simpleSchedule.segment.name}}</td>
		<td>
		<form id="deleteSimpleSchedule" action="deleteSimpleSchedule" method="post">
				{% csrf_token %}
				<input type="hidden" name="simpleSchedule" value = "{{ simpleSchedule.id }}"/>
				<button id="delete" name="delete" class="btn btn-default">DELETE</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>

</fieldset>

<fieldset>

	<!-- Form Name -->
	<legend>Repeatable schedules</legend>
	<a href="/showRepeatableSchedule">New Repeatable Schedule</a>

<table class="table table-striped table-condensed">
	<thead>
		<th>Schedule name</th>
		<th>Status</th>
		<th>Day</th>
		<th>Time</th>
		<th>Duration</th>
		<th>Segments</th>
		<th>Delete</th>
	</thead>
	{% for repeatableSchedule in repeatableSchedules %}
	<tr>
		<td>{{repeatableSchedule.name}}</td>
		<td>{{repeatableSchedule.status}}</td>
		<td>{{repeatableSchedule.day}}</td>
		<td>{{repeatableSchedule.time|time:"H:i"}}</td>
		<td>{{repeatableSchedule.duration}} min</td>
		<td>{{repeatableSchedule.segment.name}}</td>
		<td>
		<form id="deleteRepeatableSchedule" action="deleteRepeatableSchedule" method="post">
				{% csrf_token %}
				<input type="hidden" name="repeatableSchedule" value = "{{ repeatableSchedule.id }}"/>
				<button id="delete" name="delete" class="btn btn-default">DELETE</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>

</fieldset>
</div>
</body>
</html>