{% include "IrrigationApp/pages/frame/htmlHeader_refresh.html" %}

</br>Welcome {{username}}!
</br>Arduino IP address: {{arduino.IP}}
</br>Arduino port: {{arduino.PORT}}
</br></br>
<fieldset>

	<!-- Form Name -->
	<legend>Status of the Segments</legend><a href="/showAddNewSegment">New Segment</a>

<table class="table table-striped table-condensed">
	<thead>
		<th>Segment name</th>
		<th>Sensor status</th>
		<th>Switch status</th>
		<th>UP-time</th>
		<th>Type</th>
		<th>Template's name</th>
		<th>Day counter</th>
		<th>Moisure min. limit</th>
		<th>Moisure max. limit</th>
		<th>Duration max. limit</th>
		<th>Forecast enabled</th>
		<th>Edit</th>
	</thead>
	{% for segment in segments %}
	<tr>
		<td>{{segment.name}}</td>
		<td>{{segment.sensor.status}}</td>
		<td>
			<form id="change_switch" action="getSystemStatus" method="post">
				{% csrf_token %}
				{% if segment.switch.status == "on" %}
				<input type="hidden" name="segment" value = "{{ segment.id }}"/>
				<input type="hidden" name="status" value = "off"/>
				<!--
				<button id="switch" name="switch" class="btn btn-default">ON </button>
				-->
				{% else %}
				<input type="hidden" name="segment" value = "{{ segment.id }}"/>
				<input type="hidden" name="status" value = "on"/>
				<!--
				<button id="switch" name="switch" class="btn btn-default">OFF</button>
				-->
				{% endif %}
				
				
			</form>
			{% if segment.switch.status == "on" %}
				<input id="toggle-event" checked type="checkbox" data-toggle="toggle">
				<script>
				  $(function() {
				    $('#toggle-event').change(function() {
				      $.ajax({
						    url:"{% url 'getSystemStatus'%}",
						    type: "POST",
						    data: $('form#change_switch').serialize(),
						    success:function(response){},
						    complete:function(){},
						    error:function (xhr, textStatus, thrownError){}
						});
				    })
				  })
				</script>
				{% else %}
				<input id="toggle-event" type="checkbox" data-toggle="toggle">
				<script>
				  $(function() {
				    $('#toggle-event').change(function() {
				      $.ajax({
						    url:"{% url 'getSystemStatus'%}",
						    type: "POST",
						    data: {segment: '{{ segment.id }}', status: 'on', csrfmiddlewaretoken: '{{ csrf_token }}'},
						    success:function(response){},
						    complete:function(){},
						    error:function (xhr, textStatus, thrownError){}
						});
				    })
				  })
				</script>
				{% endif %}
		</td>
		<td>{{segment.up_time}}</td>
		<td>{{segment.type}}</td>
		<td>{{segment.template.name}}</td>
		<td>{{segment.template.day_counter}}</td>
		<td>{{segment.moisture_minLimit}}</td>
		<td>{{segment.moisture_maxLimit}}</td>
		<td>{{segment.duration_maxLimit}}</td>
		<td>{{segment.forecast_enabled}}</td>
		<td>
		<form id="showEditSegment" action="showEditSegment" method="post">
				{% csrf_token %}
				<input type="hidden" name="editSegment" value = "{{ segment.id }}"/>
				<button id="delete" name="delete" class="btn btn-default">EDIT</button>
			</form>		
		</td>
	</tr>
	{% endfor %}
</table>

</fieldset>

<fieldset>

	<!-- Form Name -->
	<legend>Pump status</legend>
	Pump is: {{ settings.pump.status }} (pin-number: {{ settings.pump.pinNumber }})</br></br>
</fieldset>

<fieldset>

	<!-- Form Name -->
	<legend>Simple schedules</legend>
	<a href="/showSimpleSchedule">New Simple Schedule</a>

<table class="table table-striped table-condensed">
	<thead>
		<td>Status</td>
		<td>Date</td>
		<td>Time</td>
		<td>Duration</td>
		<td>Segments</td>
		<td>Delete</td>
	</thead>
	{% for simpleSchedule in simpleSchedules %}
	<tr>
		<td>{{simpleSchedule.status}}</td>
		<td>{{simpleSchedule.date|date:"Y-m-d"}}</td>
		<td>{{simpleSchedule.time|time:"H:i"}}</td>
		<td>{{simpleSchedule.duration}}</td>
		<td>{{simpleSchedule.segment.name}}</td>
		<td>
		<form id="deleteSimpleSchedule" action="deleteSimpleSchedule" method="post">
				{% csrf_token %}
				<input type="hidden" name="simpleSchedule" value = "{{ simpleSchedule.id }}"/>
				<button id="delete" name="delete" class="btn btn-default">DELETE</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>

</fieldset>

<fieldset>

	<!-- Form Name -->
	<legend>Repeatable schedules</legend>
	<a href="/showRepeatableSchedule">New Repeatable Schedule</a>

<table class="table table-striped table-condensed">
	<thead>
		<td>Schedule name</td>
		<td>Status</td>
		<td>Day</td>
		<td>Time</td>
		<td>Duration</td>
		<td>Segments</td>
		<td>Delete</td>
	</thead>
	{% for repeatableSchedule in repeatableSchedules %}
	<tr>
		<td>{{repeatableSchedule.name}}</td>
		<td>{{repeatableSchedule.status}}</td>
		<td>{{repeatableSchedule.day}}</td>
		<td>{{repeatableSchedule.time|time:"H:i"}}</td>
		<td>{{repeatableSchedule.duration}}</td>
		<td>{{repeatableSchedule.segment.name}}</td>
		<td>
		<form id="deleteRepeatableSchedule" action="deleteRepeatableSchedule" method="post">
				{% csrf_token %}
				<input type="hidden" name="repeatableSchedule" value = "{{ repeatableSchedule.id }}"/>
				<button id="delete" name="delete" class="btn btn-default">DELETE</button>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>

</fieldset>

</body>
</html>