{% include "IrrigationApp/pages/frame/htmlHeader_refresh.html" %}

</br>Current time: <span id="time"></span>

<fieldset>

	<!-- Form Name -->
	<legend>Status of Template Irrigation</legend>

<table class="table table-striped table-condensed">
	
	<thead>
		<th>Day Number</th>
		<th>Kc value</th>
		<th>Irrigation</th>
		<th>Runtime</th>
		<th>mm</th>
	</thead>
	
	{% for template_value in template_values %}
	<tr>
		<td>{{template_value.kc_value.day_number}}</td>
		<td>{{template_value.kc_value.kc_value}}</td>
		<td>{{template_value.irrigation_required}}</td>
		<td>{{template_value.runtime}}</td>
		<td>{{template_value.water_mm}}</td>
	</tr>
	{% endfor %}
</table>
</fieldset>

</div>
</body>
</html>