input[type=radio].css-checkbox {
							display:none;
						}

input[type=radio].css-checkbox + label.css-label {
	padding-left:29px;
	height:25px; 
	display:inline-block;
	line-height:25px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -25px;
}

label.css-label-blue {
	background-image:url(/static/images/radio_background_blue.png);
}

label.css-label-orange {
	background-image:url(/static/images/radio_background_orange.png);
}

label.css-label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}