body {
  padding-top: 40px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

dl.multiple-table {
	border-bottom: 1px solid #999;
}
	
dl.multiple-table dt
{
	clear: left;
	float:left;
	width:230px;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #999;
	font-weight: bold;
	line-height: normal;
}

p.description
{
	padding-bottom: 25px;
}
dl.multiple-table dd
{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 230px;
	line-height: normal;
}

dl.multiple-table dd.first
{
	padding-top: 15px;
	border-top: 1px solid #999;
}

dl.multiple-table dd.last
{
	padding-bottom: 15px;
}

dl.multiple-table {
	line-height: normal;
}

.modal-footer .btn+.btn
{
	margin-left: 0px;
}

textarea
{
	resize:none;
}

p.missionFormPoints
{
	font-size: large;
	text-align: right;
}

ul.popupStudentList
{
	
}

ul.popupStudentList li
{
	
}

button.btn-success:disabled, button.btn-warning:disabled,
button.btn-success[disabled]:hover, button.btn-warning[disabled]:hover {
    background: #dddddd;
    border-color: #eeeeee;
}

tr.missionSucceeded {
	color: #3E8F3E;
}

tr.missionFailed {
	color: #AC2925;
}
