<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Moisture Values for template</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
		${demo.css}
				</style>
				<script type="text/javascript">
		$(function () {
		    $('#container').highcharts({
		        chart: {
		            type: 'spline',
		            margin: [70, 50, 60, 80],
		            events: {
		                click: function (e) {
		                    // find the clicked values and the series
		                    var x = e.xAxis[0].value,
		                        y = e.yAxis[0].value,
		                        series = this.series[0];
		
		                    // Add it
		                    var datas = series.data;
		                    var addPoint=1;
		                    for (var i=0; i<datas.length; i++) {
		                    	if (datas[i].x >= Math.round(x)){
		                    		addPoint=0;
		                    	}
		                    }
		                    if (addPoint==1 && y>=0){
		                    	series.addPoint([Math.round(x), Math.round(y)]);
		                    }
		                    document.getElementById('series').value = series.data;		
		                }
		            }
		        },
		        title: {
		            text: 'Moisture datas for irrigation'
		        },
		        subtitle: {
		            text: 'Click the plot area to add a point. Click a point to remove it.'
		        },
		        xAxis: {
		            gridLineWidth: 1,
		            minPadding: 0.2,
		            maxPadding: 0.2,
		            maxZoom: 7
		        },
		        yAxis: {
		            title: {
		                text: 'Moisture Value'
		            },
		            minPadding: 0.2,
		            maxPadding: 0.2,
		            maxZoom: 50,
		            plotLines: [{
		                value: 0,
		                width: 1,
		                color: '#808080'
		            }]
		        },
		        legend: {
		            enabled: true
		        },
		        exporting: {
		            enabled: false
		        },
		        plotOptions: {
		            series: {
		                lineWidth: 1,
		                point: {
		                    events: {
		                        'click': function () {
		                            if (this.series.data.length > 1) {
		                                this.remove();
		                            }
		                        }
		                    }
		                }
		            }
		        },
		        series: [{
		            data: [[0, 50], [1, 50], [2, 50], [3, 50], [4, 50], [5, 50], [6, 50]]
		        }]
		    });
		});
		</script>
	</head>
	<body>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 900px; margin: 0 auto"></div>

<form class="form-horizontal" id="doAddIrrigationTemplateValues" action="{% url 'doAddIrrigationTemplateValues'%}" method="post">
				{% csrf_token %}
				<fieldset>
				
				<!-- Form Name -->
				<legend>Add moisture values for irrigation template</legend>	
	<!-- Select Basic -->
			<div class="control-group">
				  <label class="control-label" for="irrigationTemplate">Template</label>
				  <div class="controls">
				    <select id="irrigationTemplate" name="irrigationTemplate" class="input-xlarge">
			      <option value="None"></option>
			      {% for irrigationTemplate in irrigationTemplates %}
			      <option value="{{ irrigationTemplate.id }}">{{ irrigationTemplate.name }}</option>
			      {% endfor %}
			    </select>
			  </div>
			</div>
			
			<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="day_1">1. day</label>
				  <div class="controls">
				    <input id="day_1" name="day_1" type="text" placeholder="Day" class="input-large" required autofocus>
				    
				  </div>
				</div>
			
			<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="day_2">2. day</label>
				  <div class="controls">
				    <input id="day_2" name="day_2" type="text" placeholder="Day" class="input-large" required autofocus>
				    
				  </div>
				</div>
				
			<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="day_3">3. day</label>
				  <div class="controls">
				    <input id="day_3" name="day_3" type="text" placeholder="Day" class="input-large" required autofocus>
				    
				  </div>
				</div>
				
			<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="day_4">4. day</label>
				  <div class="controls">
				    <input id="day_4" name="day_4" type="text" placeholder="Day" class="input-large" required autofocus>
				    
				  </div>
				</div>
				
			<!-- Text input-->
				<div class="control-group">
				  <label class="control-label" for="day_5">5. day</label>
				  <div class="controls">
				    <input id="day_5" name="day_5" type="text" placeholder="Day" class="input-large" required autofocus>
				    
				  </div>
				</div>
				
				<input type="hidden" id="series" name="series" value="" />
			
			<!-- Button -->
				<div class="control-group">
				  <label class="control-label" for="submit"></label>
				  <div class="controls">
				    <button id="submit" name="submit" class="btn btn-success">Save template values</button>
				  </div>
				</div>
				
				</fieldset>
				</form>
	
	</body>
</html>
